force-app/main/default/flows/AddressUpdateOnVisitBasedOnVisitType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_DH_Address</name>
        <label>Assign DH Address</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckAddressfromOrgWide.DHAddress__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigning SAG Address</description>
        <name>Assign_SAG_Address</name>
        <label>Assign SAG Address</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckAddressfromOrgWide.SAGAddress__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignAccountAddressToVisitAddress</name>
        <label>AssignAccountAddressToVisitAddress</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__GeocodeAccuracy__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignBlankaddress</name>
        <label>Assign Blank address</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.VisitLocation__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_User_Roles</name>
        <label>Check User Roles</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SAG_Address</targetReference>
            </connector>
            <label>SAG</label>
        </rules>
        <rules>
            <name>DH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DH_Address</targetReference>
            </connector>
            <label>DH</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAccountAddress</name>
        <label>CheckAccountAddress</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>AssignBlankaddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddressPopulated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingGeocodeAccuracy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingLatitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingLongitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountAddressToVisitAddress</targetReference>
            </connector>
            <label>AddressPopulated</label>
        </rules>
    </decisions>
    <decisions>
        <name>VisitType</name>
        <label>VisitType</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Roles</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAccountAddress</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AddressUpdateOnVisitBasedOnVisitType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddressUpdateOnVisitBasedOnVisitType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CheckAddressfromOrgWide</name>
        <label>CheckAddressfromOrgWide</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisitType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAGDHAddress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckAddressfromOrgWide</targetReference>
        </connector>
        <object>Visit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
