force-app/main/default/flows/AutomatePricebookSelectionUponOpport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Pricebbok_Id_DH</name>
        <label>Set Pricebbok Id DH</label>
        <locationX>294</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DH_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOppRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricebook_ID_SAG</name>
        <label>Set Pricebook ID SAG</label>
        <locationX>292</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAG_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOppRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPricebook2Id</name>
        <label>Set Pricebook2Id</label>
        <locationX>291</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStandardPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOppRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>810</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>If_created_or_CurrencyCode_is_changed_on_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_created_or_CurrencyCode_is_changed_on_opportunity</name>
        <label>If created or Currency Code is changed on opportunity</label>
        <locationX>1271</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CurrencyIsoCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Role</targetReference>
            </connector>
            <label>Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Role</name>
        <label>User Role</label>
        <locationX>785</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>GetStandardPriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAG_Pricebook</targetReference>
            </connector>
            <label>SAG</label>
        </rules>
        <rules>
            <name>DH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DH_Pricebook</targetReference>
            </connector>
            <label>DH</label>
        </rules>
    </decisions>
    <description>Update the automation on opportunity creation to assign the standard pricebook to the opportunity in the Pricebook2Id field.
[Created on - 14/12/2022  - Naina Butle]
[Updated on - 26/06/2023  - Gunjan Saxena]</description>
    <environments>Default</environments>
    <interviewLabel>AutomatePricebookSelectionUponOpport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutomatePricebookSelectionUponOpport</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DH_Pricebook</name>
        <label>DH Pricebook</label>
        <locationX>669</locationX>
        <locationY>677</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Pricebbok_Id_DH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetByPassFlowConfiguration</name>
        <label>Get ByPassFlow Configuration</label>
        <locationX>597</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutomatePricebookSelectionUponOpport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStandardPriceBook</name>
        <label>Get Standard Price Book</label>
        <locationX>534</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPricebook2Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SAG_Pricebook</name>
        <label>SAG Pricebook</label>
        <locationX>537</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Pricebook_ID_SAG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOppRecord</name>
        <label>updateOppRecord</label>
        <locationX>50</locationX>
        <locationY>537</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>134</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>GetByPassFlowConfiguration</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.ByPassLogic__c.ByPassFlow__c})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
