force-app/main/default/flows/CloneTechnicalRequirement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CloneTechnicalRequirement</name>
        <label>CloneTechnicalRequirement</label>
        <locationX>527</locationX>
        <locationY>206</locationY>
        <actionName>TechnicalRequirementHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trIDlst</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ClonedTR</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Org_Base_URL</name>
        <label>Get Org Base URL</label>
        <locationX>295</locationX>
        <locationY>217</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessText</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>TechnicalRequirement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>ClonedTR</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varT_Base_URL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VarT_TechnicalRecordFullURL</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>SuccessMessage</name>
        <label>SuccessMessage</label>
        <locationX>519</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClonedTR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org_Base_URL</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CloneTechnicalRequirement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneTechnicalRequirement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>786</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessText</name>
        <label>SuccessText</label>
        <locationX>291</locationX>
        <locationY>394</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;{!$Label.Success_Message_for_TR} &lt;/span&gt;&lt;a href=&quot;{!VarT_TechnicalRecordFullURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;{!ClonedTR.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CloneTechnicalRequirement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedTR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TechnicalRequirement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TechnicalRequirement__c</objectType>
    </variables>
    <variables>
        <name>varT_Base_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarT_TechnicalRecordFullURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
