force-app/main/default/flows/ComplianceCheckOnContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignComplianceCheck</name>
        <label>Assign Compliance Check</label>
        <locationX>908</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>$Record.Compliance_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplianceCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>766</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>GetTheAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>Don_t_Execute_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance Check On Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the By Pass configuration from Custom Metadata</description>
        <name>GetByPassConfiguration</name>
        <label>Get ByPass Configuration</label>
        <locationX>770</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckComplianceOnContact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTheAccount</name>
        <label>Get the Account</label>
        <locationX>970</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignComplianceCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ComplianceCheck</assignToReference>
            <field>ComplianceCheck__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>710</locationX>
        <locationY>681</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetByPassConfiguration</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.ByPassLogic__c.ByPassFlow__c})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ComplianceCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
