force-app/main/default/flows/ConvertTechReqToOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Technical_Requirement_To_OLI</name>
        <label>Convert Technical Requirement To OLI</label>
        <locationX>838</locationX>
        <locationY>538</locationY>
        <actionName>ConvertTechReqToOLI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Exception_is_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trIDlst</name>
            <value>
                <elementReference>IDlst</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MessageLst</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_By_Pass_Condition</name>
        <label>Check By Pass Condition</label>
        <locationX>1098</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>getTrRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>Don_t_Execute_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>By_Pass_Flow_Configuration.ByPassedUsers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>By_Pass_Flow_Configuration.ByPassedProfiles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>By_Pass_Flow_Configuration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.ByPassLogic__c.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if both FMN and Product are not null on Technical Record.</description>
        <name>Check_if_both_FMN_and_Product_are_not_null</name>
        <label>Check if both FMN and Product are not null</label>
        <locationX>320</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>GetFMNStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both Product and FMN are not null on Tech Requirement record</defaultConnectorLabel>
        <rules>
            <name>Both_Product_and_FMN_are_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TechFMN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductFMNErrorScreen</targetReference>
            </connector>
            <label>Both Product and FMN are null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>549</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>CheckOpportunityandTRRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InactiveTR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveErrorMessage</targetReference>
            </connector>
            <label>InactiveTR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFMNStatus</name>
        <label>Check FMN Status</label>
        <locationX>321</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>GetProductStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fmn Is Active</defaultConnectorLabel>
        <rules>
            <name>FmnIsNotActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FMNStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FMNStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveFMNErrorScreen</targetReference>
            </connector>
            <label>FmnIsNotActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOpportunityandTRRecordType</name>
        <label>Check Opportunity and TR RecordType</label>
        <locationX>416</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Check_if_both_FMN_and_Product_are_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageNameNotOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOpportunityRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getTrRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageNameNotOpen1</targetReference>
            </connector>
            <label>StageName Not Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOpprtunity</name>
        <label>checkOpprtunity</label>
        <locationX>771</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>displayOppErrorScren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkOppIdExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunity</targetReference>
            </connector>
            <label>checkOppIdExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductStatus</name>
        <label>Check Product Status</label>
        <locationX>656</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Convert_Technical_Requirement_To_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Is Active</defaultConnectorLabel>
        <rules>
            <name>ProductIsNotActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductErrorMsg</targetReference>
            </connector>
            <label>ProductIsNotActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Exception_is_null</name>
        <label>If Exception is null</label>
        <locationX>989</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>No_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessageLst</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Error_OLI</targetReference>
            </connector>
            <label>No Exception</label>
        </rules>
    </decisions>
    <description>Convert Technical Requirement To Opportunity Line Item</description>
    <environments>Default</environments>
    <interviewLabel>ConvertTechReqToOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConvertTechReqToOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>By_Pass_Flow_Configuration</name>
        <label>By Pass Flow Configuration</label>
        <locationX>1109</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_By_Pass_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConvertToOLI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFMNStatus</name>
        <label>Get FMN Status</label>
        <locationX>329</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckFMNStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TechFMN</elementReference>
            </value>
        </filters>
        <object>FinishedGoods__c</object>
        <outputAssignments>
            <assignToReference>FMNStatus</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>701</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityRecordType</name>
        <label>getOpportunityRecordType</label>
        <locationX>901</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTechnicalRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PriceIndicationwithoutquote</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductStatus</name>
        <label>Get Product Status</label>
        <locationX>654</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProductStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TechProduct</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProductStatus</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTechnicalRequirements</name>
        <label>Get Technical Requirements</label>
        <locationX>891</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkOpprtunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>TechnicalRequirement__c</object>
        <outputAssignments>
            <assignToReference>activeStatus</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TechFMN</assignToReference>
            <field>FinishedGoods__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDlst</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TechProduct</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTrRecordType</name>
        <label>getTrRecordType</label>
        <locationX>1001</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TechnicalRequirementLight</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TechnicalRequirement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>displayOppErrorScren</name>
        <label>displayOppErrorScren</label>
        <locationX>779</locationX>
        <locationY>202</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsgOpp</name>
            <fieldText>&lt;p&gt;{!$Label.OpportunityBlankError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1000</locationX>
        <locationY>742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDetailedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ErrorMessageOLI} : {!MessageLst}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>837</locationX>
        <locationY>752</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageOLIDisplay</name>
            <fieldText>&lt;p&gt;{!ErrorMessageOLI}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InactiveErrorMessage</name>
        <label>InactiveErrorMessage</label>
        <locationX>667</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage0</name>
            <fieldText>&lt;p&gt;{!CustomLabelError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InactiveFMNErrorScreen</name>
        <label>InactiveFMNErrorScreen</label>
        <locationX>343</locationX>
        <locationY>816</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FMNErrorMsg1</name>
            <fieldText>&lt;p&gt;{!InactiveFMNValidationMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductErrorMsg</name>
        <label>ProductErrorMsg</label>
        <locationX>678</locationX>
        <locationY>811</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductErrorMsg1</name>
            <fieldText>&lt;p&gt;{!InactiveProductValidationMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductFMNErrorScreen</name>
        <label>ProductFMNErrorScreen</label>
        <locationX>50</locationX>
        <locationY>448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductFMN</name>
            <fieldText>&lt;p&gt;{!CTOLI_ValidationProductFMN}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StageNameNotOpen1</name>
        <label>StageNameNotOpen</label>
        <locationX>234</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TrLightErrorMessage1</name>
            <fieldText>&lt;p&gt;{!TrLightErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Error_OLI</name>
        <label>Success Error OLI</label>
        <locationX>1186</locationX>
        <locationY>533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;{!Success_Message_OLI}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>983</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>By_Pass_Flow_Configuration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activeStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTOLI_ValidationProductFMN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CTOLI_ValidationProductFMN</elementReference>
        </value>
    </variables>
    <variables>
        <name>CustomLabelError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.InactiveTRErrorMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>displayBlankOppError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.OpportunityBlankError</elementReference>
        </value>
    </variables>
    <variables>
        <name>ErrorMessageOLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.ErrorMessageOLI</elementReference>
        </value>
    </variables>
    <variables>
        <name>FMNStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDlst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InactiveFMNValidationMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.InactiveFMNValidation</elementReference>
        </value>
    </variables>
    <variables>
        <name>InactiveProductValidationMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.InactiveProductValidation</elementReference>
        </value>
    </variables>
    <variables>
        <name>MessageLst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TechnicalRequirement__c</objectType>
    </variables>
    <variables>
        <description>Success_Message_OLI</description>
        <name>Success_Message_OLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Success_Message_OLI</elementReference>
        </value>
    </variables>
    <variables>
        <name>TechFMN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrLightErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CheckOpenStage</elementReference>
        </value>
    </variables>
    <variables>
        <name>TrRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
