force-app/main/default/flows/Deactivate_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddToListOfContacts</name>
        <label>AddToListOfContacts</label>
        <locationX>702</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>ListOfContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverRelatedContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRelatedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInactivetoTrue</name>
        <label>Set Inactive to True</label>
        <locationX>643</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>LoopOverRelatedContacts.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToListOfContacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Deactivate Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Account</label>
    <loops>
        <name>LoopOverRelatedContacts</name>
        <label>Loop Over Related Contacts</label>
        <locationX>860</locationX>
        <locationY>426</locationY>
        <collectionReference>GetRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetInactivetoTrue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedContacts</name>
        <label>Get Related Contacts</label>
        <locationX>1011</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRelatedContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>Update Contact</label>
        <locationX>917</locationX>
        <locationY>626</locationY>
        <inputReference>ListOfContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRelatedContacts</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>ComplianceCheck__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ComplianceCheck__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outstanding</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ListOfContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
