force-app/main/default/flows/DHEmailTemplateformilltour.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>convertStringToList</name>
        <label>convertStringToList</label>
        <locationX>506</locationX>
        <locationY>674</locationY>
        <actionName>StringToListUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkAdditionalRecipients</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputParamStrings</name>
            <value>
                <elementReference>DefaultEmail</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DefaultEmailList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>convertStringToListForAdditional</name>
        <label>convertStringToListForAdditional</label>
        <locationX>374</locationX>
        <locationY>890</locationY>
        <actionName>StringToListUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>addAdditionalEmail</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputParamStrings</name>
            <value>
                <elementReference>AdditionalRecipients</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DefaultAdditionalRecipientsList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>770</locationX>
        <locationY>1622</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ClearnewEmailListCollections</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>newEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmailToAdditionalRecipients</name>
        <label>sendEmailToAdditionalRecipients</label>
        <locationX>374</locationX>
        <locationY>2198</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>newEmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addAdditionalEmail</name>
        <label>addAdditionalEmail</label>
        <locationX>374</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DefaultEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DefaultAdditionalRecipientsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughEmailList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearnewEmailListCollections</name>
        <label>Clear newEmailList Collections</label>
        <locationX>770</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>newEmailList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>newEmailList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughEmailList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateVariables</name>
        <label>Update Variables</label>
        <locationX>902</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>CountEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughEmailList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughEmailList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesCount5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ArethereRecipientswhostillneedtheEmail</name>
        <label>Are there Recipients who still need the Email</label>
        <locationX>506</locationX>
        <locationY>2090</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountEmail</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmailToAdditionalRecipients</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAdditionalRecipients</name>
        <label>check Additional Recipients</label>
        <locationX>506</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>LoopThroughEmailList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Additinal_Receipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>convertStringToListForAdditional</targetReference>
            </connector>
            <label>Yes, Additional Recipients</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getVisitData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.ByPassLogic__c.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesCount5</name>
        <label>Does Count =5?</label>
        <locationX>902</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>LoopThroughEmailList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail</targetReference>
            </connector>
            <label>Equal 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>isEmailinMasterEmailList</name>
        <label>is Email in Master Email List?</label>
        <locationX>748</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>UpdateVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not in List</defaultConnectorLabel>
        <rules>
            <name>YesAlreadyinList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MasterEmailList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopThroughEmailList</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughEmailList</targetReference>
            </connector>
            <label>Yes Already in List</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotificationSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Ankündigung Werksbesichtigung&apos;</expression>
    </formulas>
    <interviewLabel>DH Email Template for mill tour {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DH Email Template for mill tour</label>
    <loops>
        <name>LoopThroughEmailList</name>
        <label>Loop Through EmailList</label>
        <locationX>506</locationX>
        <locationY>1190</locationY>
        <collectionReference>DefaultEmailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isEmailinMasterEmailList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ArethereRecipientswhostillneedtheEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CustomSetting</name>
        <label>CustomSetting</label>
        <locationX>506</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>convertStringToList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Address for mill tour</stringValue>
            </value>
        </filters>
        <object>OrgWideSettings__c</object>
        <outputAssignments>
            <assignToReference>DefaultEmail</assignToReference>
            <field>EmailAddress__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetByPassFlowConfiguration</name>
        <label>GetByPassFlowConfiguration</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DHEmailTemplateformilltour</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVisitData</name>
        <label>getVisitData</label>
        <locationX>506</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnterEmailAddressScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EnterEmailAddressScreen</name>
        <label>EnterEmailAddressScreen</label>
        <locationX>506</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CustomSetting</targetReference>
        </connector>
        <fields>
            <name>AdditionalRecipients</name>
            <fieldText>Additional Recipients</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Lato, &amp;quot;Lucida Grande&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(31, 35, 40);&quot;&gt;In order to add multiple additional recipients, please just enter the different e-mail addresses only separated by a comma. Example: address1,address2,address3&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetByPassFlowConfiguration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Sehr geehrte Damen und Herren,&lt;/p&gt;&lt;p&gt;hiermit informieren wir Sie über folgende geplante Werksbesichtigung:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Firma:&lt;/strong&gt; {!getVisitData.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informationen zur Werksbesichtigung (Datum, Uhrzeit, Werksführer etc.):&lt;/strong&gt;&lt;br&gt;{!getVisitData.InformationforMillTour__c}&lt;/p&gt;&lt;p&gt;Freundliche Grüße&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountEmail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DefaultAdditionalRecipientsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
