force-app/main/default/flows/DHSessionsetupPWresetforclientportalusers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ExpirationReminderEmail</name>
        <label>Expiration Reminder Email</label>
        <locationX>94</locationX>
        <locationY>1692</locationY>
        <actionName>User.EmailalertforPWResetforClientPortalUsers</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesrepExpirationReminderEmail</name>
        <label>Sales rep Expiration Reminder Email</label>
        <locationX>94</locationX>
        <locationY>1584</locationY>
        <actionName>User.EmailalertforPWResetforClientPortalUsers</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ExpirationReminderEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Contact.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendrestPasswordmail</name>
        <label>Send rest Password mail</label>
        <locationX>50</locationX>
        <locationY>1992</locationY>
        <actionName>PWResetForClientFlowController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>checkDHPermissionSetAssignorNot</name>
        <label>checkDHPermissionSetAssignorNot</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>GetSAGCustomerPortalAccessPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SAGCustomerPortalPSCheck</defaultConnectorLabel>
        <rules>
            <name>DHPermissionsetfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDHPermissionsetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesPasswordChange14daysOR7daysbefore</targetReference>
            </connector>
            <label>DH Permission set found</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSAGPermissionSetAssignorNot</name>
        <label>checkSAGPermissionSetAssignorNot</label>
        <locationX>94</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAGPermissionsetfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSAGPermissionsetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesPasswordChange14daysOR7daysbefore</targetReference>
            </connector>
            <label>SAG Permission set found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DH_PermissionsetFound</name>
        <label>DH Permissionset Found</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetSAGCustomerPortalAccessPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DHCustomerPortalAccessIdNotFound</defaultConnectorLabel>
        <rules>
            <name>DHCustomerPortalAccessIdFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDHCustomerPortalAccessPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDHPermissionsetAssignment</targetReference>
            </connector>
            <label>DHCustomerPortalAccessIdFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesPasswordChange14daysOR7daysbefore</name>
        <label>Does Password Change 14 days OR 7days before</label>
        <locationX>50</locationX>
        <locationY>1476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X14DaysYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNDaysfromPasswordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>76.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendrestPasswordmail</targetReference>
            </connector>
            <label>14 Days Yes</label>
        </rules>
        <rules>
            <name>X7DaysYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNDaysfromPasswordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>83.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendrestPasswordmail</targetReference>
            </connector>
            <label>7 Days Yes</label>
        </rules>
        <rules>
            <name>X91days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNDaysfromPasswordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>91.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesrepExpirationReminderEmail</targetReference>
            </connector>
            <label>91 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAGPermissionset_Found</name>
        <label>SAG Permissionset Found</label>
        <locationX>270</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAGCustomerPortalAccessIdFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSAGCustomerPortalAccessPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSAGPermissionsetAssignment</targetReference>
            </connector>
            <label>SAGCustomerPortalAccessIdFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forNDaysfromPasswordChanged</name>
        <dataType>Number</dataType>
        <expression>Today() - DATEVALUE({!$Record.LastPasswordChangeDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DH | Session set up / PW reset for client portal users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DH | Session set up / PW reset for client portal users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDHCustomerPortalAccessPS</name>
        <label>Get DH Customer Portal Access PS</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DH_PermissionsetFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDHCustomerPortalAccess</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>VarDHCustomerPortalAccessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDHPermissionsetAssignment</name>
        <label>getDHPermissionsetAssignment</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDHPermissionSetAssignorNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDHCustomerPortalAccessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSAGCustomerPortalAccessPS</name>
        <label>Get SAG Customer Portal Access PS</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAGPermissionset_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSAGCustomerPortalAccess</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>varSAGCustomerPortalAccessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSAGPermissionsetAssignment</name>
        <label>getSAGPermissionsetAssignment</label>
        <locationX>94</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSAGPermissionSetAssignorNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSAGCustomerPortalAccessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDHCustomerPortalAccessPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-05</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDHCustomerPortalAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DHCustomerPortalAccess</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarDHCustomerPortalAccessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSAGCustomerPortalAccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SAGCustomerPortalAccess</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSAGCustomerPortalAccessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
