force-app/main/default/flows/EmailAlertToProductManagerOnFinalCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailAlertToProductManagerForFinalCheck</name>
        <label>Email Alert To Product Manager For Final Check</label>
        <locationX>77</locationX>
        <locationY>1787</locationY>
        <actionName>Opportunity.EmailAlertToProductManager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TaskForProductManagerForFinalCheck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TaskForProductManagerForFinalCheck</name>
        <label>Task For Product Manager For Final Check</label>
        <locationX>77</locationX>
        <locationY>1907</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Opportunity__r.ProductManager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} : Technical Requirements Complete</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>IncrementTheCountOfTRsHavingEitherFMNOrProduct</name>
        <label>Increment The Count Of TRs Having Either FMN Or Product</label>
        <locationX>803</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>CountOfCompleteTR</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTheTechnicalRequirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToGetTheTotalCountOfTROnTheOpportunity</name>
        <label>To Get The Total Count Of TR On The Opportunity</label>
        <locationX>539</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalTR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTechnicalRequirements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTheTechnicalRequirements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>GetTechnicalRequirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfEitherProductOrFMNIsPresentOnTechnicalRequirement</name>
        <label>Check If Either Product Or FMN Is Present On Technical Requirement</label>
        <locationX>803</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LoopOverTheTechnicalRequirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfFMNIsPresent</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTheTechnicalRequirements.FinishedGoods__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverTheTechnicalRequirements.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverTheTechnicalRequirements.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementTheCountOfTRsHavingEitherFMNOrProduct</targetReference>
            </connector>
            <label>If FMN Is Present</label>
        </rules>
        <rules>
            <name>IfProductIsPresent</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTheTechnicalRequirements.FinishedGoods__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverTheTechnicalRequirements.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverTheTechnicalRequirements.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementTheCountOfTRsHavingEitherFMNOrProduct</targetReference>
            </connector>
            <label>If Product Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_the_Count_of_Complete_TR_with_The_Total</name>
        <label>Compare the Count of Complete TR with The Total</label>
        <locationX>539</locationX>
        <locationY>1427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfAllTRsAreValidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfCompleteTR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalTR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunityStatusToFinalCheck</targetReference>
            </connector>
            <label>If All TR&apos;s Are Validated</label>
        </rules>
    </decisions>
    <decisions>
        <name>NULLCheckOnRecipient</name>
        <label>NULL Check on Recipient</label>
        <locationX>209</locationX>
        <locationY>1667</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfProductManagerIsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.ProductManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertToProductManagerForFinalCheck</targetReference>
            </connector>
            <label>If Product Manager is Populated</label>
        </rules>
    </decisions>
    <description>Creates a task and sends an email alert to the Product Manager For Final check - [Created - 07/09/2022]</description>
    <environments>Default</environments>
    <interviewLabel>Email Alert To Product Manager On Final Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Alert To Product Manager On Final Check</label>
    <loops>
        <name>LoopOverTheTechnicalRequirements</name>
        <label>LoopOverTheTechnicalRequirements</label>
        <locationX>539</locationX>
        <locationY>815</locationY>
        <collectionReference>GetTechnicalRequirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIfEitherProductOrFMNIsPresentOnTechnicalRequirement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Compare_the_Count_of_Complete_TR_with_The_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateExceptionRecord</name>
        <label>Create Exception Record</label>
        <locationX>605</locationX>
        <locationY>1667</locationY>
        <inputAssignments>
            <field>ErrorOccuredIn__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Update Of Stage On Opportunity To final Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the By Pass configuration from Custom Metadata</description>
        <name>GetByPassConfiguration</name>
        <label>Get ByPass Configuration</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmailAlertToProductManagerForFinalCheck</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all the technical requirements related to the parent Opportunity</description>
        <name>GetTechnicalRequirements</name>
        <label>Get Technical Requirements</label>
        <locationX>539</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToGetTheTotalCountOfTROnTheOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TechnicalRequirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunityStatusToFinalCheck</name>
        <label>Update Opportunity Status To Final Check</label>
        <locationX>209</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>NULLCheckOnRecipient</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateExceptionRecord</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Final Check</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetByPassConfiguration</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.ByPassLogic__c.ByPassFlow__c})</filterFormula>
        <object>TechnicalRequirement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfCompleteTR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
