force-app/main/default/flows/OLIMaterislSelection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>CheckSelectedFGButton</name>
        <label>Check Selected FG Button</label>
        <locationX>252</locationX>
        <locationY>582</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFGButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OLIMaterislSelection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OLIMaterislSelection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOLIRecord</name>
        <label>GetOLIRecord</label>
        <locationX>349</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinishedGoodsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLIId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOLI</name>
        <label>Update OLI</label>
        <locationX>484</locationX>
        <locationY>672</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OLIId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinishedGoodsSales__c</field>
            <value>
                <elementReference>FGId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>FinishedGoodsScreen</name>
        <label>FinishedGoodsScreen</label>
        <locationX>672</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectedFG</targetReference>
        </connector>
        <fields>
            <name>MaterialSelectionOLI</name>
            <extensionName>c:materialSelectionOnOLI</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SearchScreen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FinishedGoods.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FinishedGoods.Product__c</objectFieldReference>
        </fields>
        <fields>
            <name>SteelGrade</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SteelGradeLookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.SteelGrade</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>FinishedGoods__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SteelGrade.recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DimensionA</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DimensionA</elementReference>
            </defaultValue>
            <fieldText>Dimension A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DimensionB</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DimensionB</elementReference>
            </defaultValue>
            <fieldText>Dimension B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SearchFinishedGoods</name>
            <extensionName>c:searchFinishedGoodsButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectedFG</name>
        <label>SelectedFG</label>
        <locationX>599</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckSelectedFGButton</targetReference>
        </connector>
        <fields>
            <name>SelectedFGOnOLI</name>
            <extensionName>c:materialSelectionOnOLI</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FGName</name>
                <value>
                    <elementReference>FinishedGoods.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FGProduct</name>
                <value>
                    <elementReference>FinishedGoods.Product__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OLIID</name>
                <value>
                    <elementReference>OLIId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SearchScreen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FGSteelGrade</name>
                <value>
                    <elementReference>SteelGrade.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FGDimensionA</name>
                <value>
                    <elementReference>DimensionA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FGDimensionB</name>
                <value>
                    <elementReference>DimensionB</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FGId</assignToReference>
                <name>FGId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedFGButton</assignToReference>
                <name>selectedFG</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOLIRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FGId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinishedGoods</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinishedGoods__c</objectType>
    </variables>
    <variables>
        <name>OLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedFGButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
