force-app/main/default/flows/PortalTermConditionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_record_count_in_History</name>
        <label>Assign record count in History</label>
        <locationX>787</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_user_Login_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_count_of_Login_history</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Value</name>
        <label>Assign User Value</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Get_User.TermsConditionsAccepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_User.TermsConditionsAcceptedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_Penaltimate</name>
        <label>Assign value in Penaltimate</label>
        <locationX>468</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PenaltimateLogin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Login_History_Single.LoginTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Login_History_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_in_Penaltimate_Login</name>
        <label>Assign Values in Penaltimate Login</label>
        <locationX>1414</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PenaltimateLogin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_login_history_multiple.LoginTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_counter</name>
        <label>Increase counter</label>
        <locationX>1414</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Counter_is_2_skip</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_count_of_Login_history</name>
        <label>Check count of Login history</label>
        <locationX>787</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_over_login_history_multiple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>History_count_equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Login_History_Single</targetReference>
            </connector>
            <label>History count equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_accepted_terms_and_conditions</name>
        <label>Check for accepted terms and conditions</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>terms_and_conditions_not_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.TermsConditionsAccepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Term_Condition_Screen</targetReference>
            </connector>
            <label>terms and conditions not accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Counter_is_2_skip</name>
        <label>If Counter is 2 skip</label>
        <locationX>1414</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_over_login_history_multiple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_equals_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Penaltimate_Login</targetReference>
            </connector>
            <label>Counter equals 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Permission_set_is_assigned</name>
        <label>If Permission set is assigned</label>
        <locationX>1122</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Permission_set_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_set_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user_Login_History</targetReference>
            </connector>
            <label>If Permission set assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Accepted_Term_Condition</name>
        <label>User Accepted Term Condition</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Term_Condition_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User not Accepted Term Condition</defaultConnectorLabel>
        <rules>
            <name>Is_User_Accepted_Term_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agree_Term_Conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>User Accepted Term Condition</label>
        </rules>
    </decisions>
    <description>used new custom Label</description>
    <environments>Default</environments>
    <formulas>
        <name>CDTitle</name>
        <dataType>String</dataType>
        <expression>{!$Label.DocumentLink}</expression>
    </formulas>
    <formulas>
        <name>Spaceifgerman</name>
        <dataType>String</dataType>
        <expression>if(Text({!$User.LanguageLocaleKey})=&apos;de&apos;,&apos; &apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Term {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Portal Term Condition Flow</label>
    <loops>
        <name>Loop_over_login_history_multiple</name>
        <label>Loop over login history multiple</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_user_Login_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_in_Penaltimate_Login</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Over_Login_History_Single</name>
        <label>Loop Over Login History Single</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_user_Login_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_in_Penaltimate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Penaltimate_Login</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Permission_set</name>
        <label>Get Permission set</label>
        <locationX>1122</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DHCustomerPortalAccess</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_Assignment</name>
        <label>Get Permission set Assignment</label>
        <locationX>1122</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Permission_set_is_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_set.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_Login_History</name>
        <label>Get user Login History</label>
        <locationX>787</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_record_count_in_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoginHistory</object>
        <sortField>LoginTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Penaltimate_Login</name>
        <label>Update Penaltimate Login</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Check_for_accepted_terms_and_conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PenultimateLogin__c</field>
            <value>
                <elementReference>PenaltimateLogin</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <inputReference>Get_User</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Term_Condition_Screen</name>
        <label>Term Condition Screen</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Accepted_Term_Condition</targetReference>
        </connector>
        <fields>
            <name>DisplayTerm</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.TermCondition} &lt;/span&gt;&lt;a href=&quot;{!CDTitle}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;{!$Label.TermCondition1}&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Spaceifgerman}{!$Label.TermCondition2}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agree_Term_Conditions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>{!$Label.AgreeTermConditions}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>996</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PenaltimateLogin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
