force-app/main/default/flows/SearchPrakulaOnOLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignAccount</name>
        <label>Assign Account from Opportunity</label>
        <locationX>436</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOLIData.Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>newPrakulaCreationscreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkButton_Name</name>
        <label>checkButton Name</label>
        <locationX>756</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>UpdateOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed on LV Screen</defaultConnectorLabel>
        <rules>
            <name>newPrakulabuttonCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedButtonId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newPrakula</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccount</targetReference>
            </connector>
            <label>newPrakulabuttonCheck</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LanguagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Praekula__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Praekula__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SearchPrakulaOnOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SearchPrakulaOnOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePrakula</name>
        <label>CreatePrakula</label>
        <locationX>603</locationX>
        <locationY>1251</locationY>
        <assignRecordIdToReference>newPrakulacreatedId</assignRecordIdToReference>
        <connector>
            <targetReference>update_OLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>PrakulaLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>PrakulaStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Praekula__c</object>
    </recordCreates>
    <recordLookups>
        <name>getOLIData</name>
        <label>getOLIData</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeliveryInstructionSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_OLI</name>
        <label>update OLI</label>
        <locationX>674</locationX>
        <locationY>1663</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prakula__c</field>
            <value>
                <elementReference>newPrakulacreatedId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOLI</name>
        <label>Update OLI</label>
        <locationX>903</locationX>
        <locationY>1047</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LVPosition__c</field>
            <value>
                <elementReference>lvpositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prakula__c</field>
            <value>
                <elementReference>prakulaID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>DeliveryInstructionSearch</name>
        <label>DeliveryInstructionSearch</label>
        <locationX>945</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SearchPrakulaonOLI</targetReference>
        </connector>
        <fields>
            <name>deliveryScreen</name>
            <extensionName>c:prakulaDeliveryInstructionsScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dIscreen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DeliveryInstructionObject.Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DeliveryInstructionObject.Publisher__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DeliveryInstructionObject.Title__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DeliveryInstructionObject.Revision__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>DeliveryInstructionObject.DateOfIssue__c</objectFieldReference>
        </fields>
        <fields>
            <name>NavigationButtons</name>
            <extensionName>c:cancelButtonLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Search Präkula</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>newPrakulaCreationscreen</name>
        <label>newPrakulaCreationscreen</label>
        <locationX>559</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreatePrakula</targetReference>
        </connector>
        <fields>
            <name>newPrakulaCreationscreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newPrakulaCreationscreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Praekula__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>AccountID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newPrakulaCreationscreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrakulaLanguage</name>
                    <choiceReferences>LanguagePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getOLIData.Opportunity.Language__c</elementReference>
                    </defaultValue>
                    <fieldText>Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newPrakulaCreationscreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrakulaStatus</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchPrakulaonOLI</name>
        <label>SearchPrakulaonOLI</label>
        <locationX>945</locationX>
        <locationY>454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkButton_Name</targetReference>
        </connector>
        <fields>
            <name>SendPrakula</name>
            <extensionName>c:prakulaDeliveryInstructionsScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>DeliveryInstructionsID</name>
                <value>
                    <elementReference>DeliveryInstructionsID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OLIID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonId</name>
                <value>
                    <stringValue>newPrakula</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryInsDateOfIssue</name>
                <value>
                    <elementReference>DeliveryInstructionObject.DateOfIssue__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryInsPublisher</name>
                <value>
                    <elementReference>DeliveryInstructionObject.Publisher__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryInsRevision</name>
                <value>
                    <elementReference>DeliveryInstructionObject.Revision__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryInsTitle</name>
                <value>
                    <elementReference>DeliveryInstructionObject.Title__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryInsType</name>
                <value>
                    <elementReference>DeliveryInstructionObject.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedButtonId</assignToReference>
                <name>selectedButtonId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lvpositionId</assignToReference>
                <name>lvpositionId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>prakulaID</assignToReference>
                <name>prakulaId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOLIData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>getOLIData.Opportunity.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>buttonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Präkula</stringValue>
        </value>
    </variables>
    <variables>
        <name>CancelButtonLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CancelButtonLable</stringValue>
        </value>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DeliveryInstructionObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DeliveryInstructions__c</objectType>
    </variables>
    <variables>
        <name>DeliveryInstructionsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DIlst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DIString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstDeliveryInstructionId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DeliveryInstructions__c</objectType>
    </variables>
    <variables>
        <name>lvpositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lvscreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newPrakulacreatedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prakulaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrakulaREcord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Praekula__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedButtonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDeliveryInstructionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
