force-app/main/default/flows/SendRawMaterialToHeroku.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendRawMaterialDataToHeroku</name>
        <label>Send Raw Material Data To Heroku</label>
        <locationX>374</locationX>
        <locationY>518</locationY>
        <actionName>SendRawMaterialsToHeroku</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Error_List_Is_Not_Null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lstRawMaterial</name>
            <value>
                <elementReference>GetRawMaterials</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ErrorLst</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_If_Error_List_Is_Not_Null</name>
        <label>Check If Error List Is Not Null</label>
        <locationX>374</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetRawMaterials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>Don_t_Execute_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ByPassFlowConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ByPassFlowConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ByPassFlowConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.ByPassLogic__c.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Raw Material To Heroku {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Raw Material To Heroku</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateException</name>
        <label>Create Exception</label>
        <locationX>770</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>ErrorOccuredIn__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Raw Material</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Sending Raw Material Data To Heroku</stringValue>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ByPassFlowConfiguration</name>
        <label>By Pass Flow Configuration</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SendRawMaterialsToHeroku</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRawMaterials</name>
        <label>Get Raw materials</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendRawMaterialDataToHeroku</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateException</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RawMaterial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>242</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.ErrorMessageForRawMaterial}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>506</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.SuccessMessageForRawMaterial}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPassFlowConfiguration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorLst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
