force-app/main/default/flows/SyncUserOnContactByOwnerChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_user_english</name>
        <label>Send Notification to user</label>
        <locationX>941</locationX>
        <locationY>2327</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Record_Id_for_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EngilshNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_user_German</name>
        <label>Send Notification to user German</label>
        <locationX>897</locationX>
        <locationY>1919</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Record_Id_for_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>GermanNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_English_Title</name>
        <label>Assign English Title</label>
        <locationX>941</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact information changed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_user_english</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_German_Title</name>
        <label>Assign German Title</label>
        <locationX>897</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kontaktinformationen geändert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_user_German</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipent_Ids</name>
        <label>Assign Recipent Ids</label>
        <locationX>941</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Language_of_Community_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_language</name>
        <label>Set Contact language</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_to_English</name>
        <label>Set Language to English</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_us</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_to_French</name>
        <label>Set Language to French</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fr</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_to_German</name>
        <label>Set Language to German</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>de</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_user_is_Contact_owner</name>
        <label>Check if user is Contact owner</label>
        <locationX>891</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_updating_user_is_contact_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Owner.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_if_empty</targetReference>
            </connector>
            <label>Check if updating user is contact owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Language_of_Community_user</name>
        <label>Check Language of Community user</label>
        <locationX>941</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Assign_English_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English_Language_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_English_Title</targetReference>
            </connector>
            <label>English Language</label>
        </rules>
        <rules>
            <name>German_Language_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_German_Title</targetReference>
            </connector>
            <label>German Language</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Language_if_empty</name>
        <label>Set Language if empty</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_to_English</targetReference>
            </connector>
            <label>English Language</label>
        </rules>
        <rules>
            <name>German_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_to_German</targetReference>
            </connector>
            <label>German Language</label>
        </rules>
        <rules>
            <name>French_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_to_French</targetReference>
            </connector>
            <label>French Language</label>
        </rules>
    </decisions>
    <decisions>
        <name>skip_flow_if_user_is_not_present</name>
        <label>skip flow if user is not present</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Update_Related_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_User_is_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Related User is not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_if_notification_Nnt_found</name>
        <label>Skip if notification Nnt found</label>
        <locationX>699</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Assign_Recipent_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Notification_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Id_for_Custom_Notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Custom Notification Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_the_Flow_Execution</name>
        <label>Skip the Flow Execution</label>
        <locationX>338</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>skip_flow_according_to_configuration</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_By_Pass_Flow_Configuration.ByPassedUsers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_By_Pass_Flow_Configuration.ByPassedProfiles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_By_Pass_Flow_Configuration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.ByPassLogic__c.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>skip flow according to configuration</label>
        </rules>
    </decisions>
    <description>Changed Language in notification title</description>
    <environments>Default</environments>
    <formulas>
        <name>EngilshNotification</name>
        <dataType>String</dataType>
        <expression>&apos;Your user data in myE-Service has been changed:&apos; + &apos;\n&apos; +
&apos;Date&apos;+&apos;: &apos;+ TEXT(TODAY())+ &apos;\n&apos; +
&apos;Customer&apos;+&apos;: &apos;+{!$Record.Account.Name}+ &apos;\n&apos; +
&apos;Customer No.&apos;+&apos;: &apos;+{!$Record.Account.AccountNumber}+ &apos;\n&apos; +
&apos;Username&apos;+&apos;: &apos;+{!$Record.Id}+ &apos;\n&apos; +
&apos;LastName&apos;+&apos;: &apos;+ {!$Record.LastName}+ &apos;\n&apos; +
&apos;FirstName&apos;+&apos;: &apos;+ {!$Record.FirstName}+ &apos;\n&apos; +
&apos;EMail&apos;+&apos;: &apos;+ {!$Record.Email}+ &apos;\n&apos; +
&apos;Phone&apos;+&apos;: &apos;+ {!$Record.Phone}+ &apos;\n&apos; +
&apos;Mobile&apos; +&apos;: &apos;+{!$Record.MobilePhone}+ &apos;\n&apos; +
&apos;Language&apos;+&apos;: &apos;+ Text({!$Record.Language__c})+ &apos;\n&apos;</expression>
    </formulas>
    <formulas>
        <name>GermanNotification</name>
        <dataType>String</dataType>
        <expression>&apos;Ihre Nutzerdaten in myE-Service wurden angepasst:&apos; + &apos;\n&apos; +
&apos;Datum&apos;+&apos;: &apos;+ TEXT(TODAY())+ &apos;\n&apos; +
&apos;Kunde&apos;+&apos;: &apos;+{!$Record.Account.Name}+ &apos;\n&apos; +
&apos;Kundennummer&apos;+&apos;: &apos;+{!$Record.Account.AccountNumber}+ &apos;\n&apos; +
&apos;Benutzername&apos;+&apos;: &apos;+{!$Record.Id}+ &apos;\n&apos; +
&apos;Nachname&apos;+&apos;: &apos;+ {!$Record.LastName}+ &apos;\n&apos; +
&apos;Vorname&apos;+&apos;: &apos;+ {!$Record.FirstName}+ &apos;\n&apos; +
&apos;E-Mail&apos;+&apos;: &apos;+ {!$Record.Email}+ &apos;\n&apos; +
&apos;Telefon&apos;+&apos;: &apos;+ {!$Record.Phone}+ &apos;\n&apos; +
&apos;Mobil&apos; +&apos;: &apos;+{!$Record.MobilePhone}+ &apos;\n&apos; +
&apos;Sprache&apos;+&apos;: &apos;+ Text({!$Record.Language__c})+ &apos;\n&apos;</expression>
    </formulas>
    <interviewLabel>SyncUserOnContactByOwnerChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SyncUserOnContactByOwnerChange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_By_Pass_Flow_Configuration</name>
        <label>Get By Pass Flow Configuration</label>
        <locationX>338</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_the_Flow_Execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SyncUserOnContactByOwnerChange</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Owner</name>
        <label>Get Contact Owner</label>
        <locationX>891</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_user_is_Contact_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Id_for_Custom_Notification</name>
        <label>Get Record Id for Custom Notification</label>
        <locationX>699</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_if_notification_Nnt_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificationContactUserSync</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_User_Record</name>
        <label>Get Related User Record</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>skip_flow_if_user_is_not_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_User_Record</name>
        <label>Update Related User Record</label>
        <locationX>699</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Record_Id_for_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_User_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>212</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_By_Pass_Flow_Configuration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LanguageKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>English</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
