force-app/main/default/flows/Update_Dimensions_in_mm_on_LVPosition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>This flow Updates Dimension A From in mm, Dimension A To in mm, Dimension B in mm on LVPosition Object</description>
    <environments>Default</environments>
    <formulas>
        <name>ConversionRate</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISPICKVAL( {!$Record.UnitOfMeasurement__c},&apos;MM&apos;), 
   1, 
    IF(
        ISPICKVAL( {!$Record.UnitOfMeasurement__c},&apos;Inch&apos;), 
        25.4,
        IF(
            ISPICKVAL( {!$Record.UnitOfMeasurement__c},&apos;Feet&apos;),
            304.8,
            null   
        )
    )
)</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>ConvertDimensionAFrom</name>
        <dataType>Number</dataType>
        <expression>{!$Record.DimensionAFromUnit__c}*{!ConversionRate}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>ConvertDimensionATo</name>
        <dataType>Number</dataType>
        <expression>{!$Record.DimensionAToUnit__c}*{!ConversionRate}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>ConvertDimensionB</name>
        <dataType>Number</dataType>
        <expression>{!$Record.DimensionBUnit__c}*{!ConversionRate}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Update Dimensions in mm on LVPosition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Dimensions in mm on LVPosition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateDimensionAFrom</name>
        <label>UpdateDimensionAFrom</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>UpdateDimensionATo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DimensionAFromUnit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DimensionAFrom__c</field>
            <value>
                <elementReference>ConvertDimensionAFrom</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDimensionATo</name>
        <label>UpdateDimensionATo</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateDimensionB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DimensionAToUnit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DimensionATo__c</field>
            <value>
                <elementReference>ConvertDimensionATo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDimensionB</name>
        <label>UpdateDimensionB</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DimensionBUnit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DimensionB__c</field>
            <value>
                <elementReference>ConvertDimensionB</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateDimensionAFrom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnitOfMeasurement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LVPostion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
