force-app/main/default/flows/UpdateOLIOnQuoteLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>getOpportunityLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <description>Created a record trigger flow, update &apos;Opportunity Line Item&apos; field with the ID-value of the corresponding OLI on creation of QLI</description>
    <environments>Default</environments>
    <interviewLabel>UpdateOLIOnQuoteLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOLIOnQuoteLineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetByPassFlowConfiguration</name>
        <label>GetByPassFlowConfiguration</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UpdateOLIOnQuoteLineItem</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityLineItem</name>
        <label>get OpportunityLineItem</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_QuoteLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varOpportunityLineItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_QuoteLineItem</name>
        <label>update QuoteLineItem</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>OpportunityLineItem__c</field>
            <value>
                <elementReference>varOpportunityLineItemId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetByPassFlowConfiguration</targetReference>
        </connector>
        <filterFormula>{!$Record.Product2Id} != null &amp;&amp; {!$Record.QuoteId} != null &amp;&amp; NOT({!$Setup.ByPassLogic__c.ByPassFlow__c})</filterFormula>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
