force-app/main/default/flows/UpdateSuccessorAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddATMToLst</name>
        <label>Add ATM To Lst</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ATMlst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopoverATM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopoverATM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCaseToList</name>
        <label>Add Case To List</label>
        <locationX>440</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Caselst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddContactsToList</name>
        <label>Add Contacts To List</label>
        <locationX>440</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>contactlst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopoverContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopoverContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOppToList</name>
        <label>Add Opp To List</label>
        <locationX>440</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Opplst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverOpportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSuccessorAccount</name>
        <label>Assign The Successor Account</label>
        <locationX>440</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>LoopOverOpportunities.SuccessorCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuccessorCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOppToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSuccessorAccountToCase</name>
        <label>Assign Successor Account</label>
        <locationX>440</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>LoopOverCase.SuccessorCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuccessorCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCaseToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTheSuccessorAccount</name>
        <label>Assign The Successor Account</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>loopoverATM.SuccessorAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuccessorCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddATMToLst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReparentContacts</name>
        <label>Reparent Contacts</label>
        <locationX>440</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>loopoverContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuccessorCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactsToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetAccountTeamMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Successor Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Successor Account</label>
    <loops>
        <name>loopoverATM</name>
        <label>loop over ATM</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <collectionReference>GetAccountTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTheSuccessorAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateATM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverCase</name>
        <label>Loop Over Case</label>
        <locationX>352</locationX>
        <locationY>1895</locationY>
        <collectionReference>GetCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSuccessorAccountToCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopoverContact</name>
        <label>loop over Contact</label>
        <locationX>352</locationX>
        <locationY>2519</locationY>
        <collectionReference>GetContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ReparentContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverOpportunities</name>
        <label>Loop Over Opportunities</label>
        <locationX>352</locationX>
        <locationY>1271</locationY>
        <collectionReference>GetOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSuccessorAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateExceptionRecord</name>
        <label>Create Exception Record</label>
        <locationX>1144</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>ErrorOccuredIn__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Update on Successor Account </stringValue>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateExceptionRecord_0</name>
        <label>Create Exception Record</label>
        <locationX>880</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>ErrorOccuredIn__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Update on Successor Account </stringValue>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateExceptionRecord_0_0</name>
        <label>Create Exception Record</label>
        <locationX>616</locationX>
        <locationY>2411</locationY>
        <inputAssignments>
            <field>ErrorOccuredIn__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Update on Successor Account </stringValue>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateExceptionRecord_0_0_0</name>
        <label>Create Exception Record</label>
        <locationX>352</locationX>
        <locationY>3035</locationY>
        <inputAssignments>
            <field>ErrorOccuredIn__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionDetails__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Update on Successor Account </stringValue>
            </value>
        </inputAssignments>
        <object>Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountTeamMembers</name>
        <label>Get Account Team Members</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopoverATM</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuccessorAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetByPassConfiguration</name>
        <label>Get ByPass Configuration</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UpdateSuccessorAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>352</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverCase</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuccessorCustomer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContacts</name>
        <label>Get Contacts</label>
        <locationX>352</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopoverContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>Get Opportunities</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverOpportunities</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SuccessorCustomer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateATM</name>
        <label>Update ATM</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateExceptionRecord</targetReference>
        </faultConnector>
        <inputReference>ATMlst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>352</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateExceptionRecord_0_0</targetReference>
        </faultConnector>
        <inputReference>Caselst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>Update Contact</label>
        <locationX>352</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>CreateExceptionRecord_0_0_0</targetReference>
        </connector>
        <inputReference>contactlst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunities</name>
        <label>Update Opportunities</label>
        <locationX>352</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateExceptionRecord_0</targetReference>
        </faultConnector>
        <inputReference>Opplst</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetByPassConfiguration</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.ByPassLogic__c.ByPassFlow__c}),ISCHANGED({!$Record.SuccessorCustomer__c}),NOT(ISNULL({!$Record.SuccessorCustomer__c})))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ATMlst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>Caselst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactlst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Opplst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
