force-app/main/default/flows/ValidationOnLeadCountry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>816</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>$Record.BlockedCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>945</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>$Record.BlockedCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>370</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>GetBlockedCountriesList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOnLeadCountry</name>
        <label>CheckOnLeadCountry</label>
        <locationX>704</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IfLeadCountryDoesn&apos;tMatch</defaultConnectorLabel>
        <rules>
            <name>IfLeadCountryMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBlockedCountriesList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>IfLeadCountryMatches</label>
        </rules>
    </decisions>
    <description>Validates if the Lead country entered is not a blocked country by updating the blocked country checkbox. [Created on - 24/08/2022  - Harshitha U]
Added The By Pass Configuration - [Modified - 30/08/2022]
Updated country names to country ISO codes -[Modified - 03/11/2022]</description>
    <environments>Default</environments>
    <interviewLabel>ValidationOnLeadCountry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidationOnLeadCountry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To get the list of blocked countries from the custom setting</description>
        <name>GetBlockedCountriesList</name>
        <label>GetBlockedCountriesList</label>
        <locationX>579</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOnLeadCountry</targetReference>
        </connector>
        <filterLogic>(1 AND 2 ) AND 4 AND ((3 AND 5) OR 6)</filterLogic>
        <filters>
            <field>CountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mandant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$UserRole.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BlockedCountries__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetByPassFlowConfiguration</name>
        <label>Get ByPassFlow Configuration</label>
        <locationX>457</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ValidationOnLeadCountry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>GetByPassFlowConfiguration</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.ByPassLogic__c.ByPassFlow__c})</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ByPassedProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ByPassedUsers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
