force-app/main/default/flows/ValidationOnOppCountry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>UpdateBlockCountryAsFalse</name>
        <label>Update BlockCountry As False</label>
        <locationX>772</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>$Record.BlockedCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateBlockCountryAsTrue</name>
        <label>Update BlockCountry As True</label>
        <locationX>857</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>$Record.BlockedCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckByPassCondition</name>
        <label>Check By Pass Condition</label>
        <locationX>355</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>GetBlockedCountriesList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Flow</defaultConnectorLabel>
        <rules>
            <name>DontExecuteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedUsers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassedProfiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetByPassFlowConfiguration.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Execute Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOnLeadCountry</name>
        <label>CheckOnLeadCountry</label>
        <locationX>648</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>UpdateBlockCountryAsFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IfOppCountryDoesn&apos;tMatches</defaultConnectorLabel>
        <rules>
            <name>IfOppCountryMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBlockedCountriesList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBlockCountryAsTrue</targetReference>
            </connector>
            <label>IfOppCountryMatches</label>
        </rules>
    </decisions>
    <description>Validates if the country selected on the account (which is linked via look-up) is not part of the blocked country list by updating the blocked country checkbox. [Created on - 03/11/2022  - Naina Butle]</description>
    <environments>Default</environments>
    <interviewLabel>ValidationOnLeadCountry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidationOnOppCountry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBlockedCountriesList</name>
        <label>GetBlockedCountriesList</label>
        <locationX>562</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOnLeadCountry</targetReference>
        </connector>
        <filterLogic>(1 AND 2 ) AND 4 AND ((3 AND 5) OR 6)</filterLogic>
        <filters>
            <field>CountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mandant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$UserRole.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BlockedCountries__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetByPassFlowConfiguration</name>
        <label>GetByPassFlowConfiguration</label>
        <locationX>409</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckByPassCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ValidationOnOppCountry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ByPassFlowConfiguration__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>25</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>GetByPassFlowConfiguration</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.ByPassLogic__c.ByPassFlow__c})</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
