force-app/main/default/flows/ValidationonPrakulaStatusChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ApprovedDeliveryInstruction</name>
        <label>ApprovedDeliveryInstruction</label>
        <locationX>270</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>ApprovedDeliveryInstructionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateDeliveryInstruction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ValidationerrorAssignment</name>
        <label>Copy 1 of ValidationerrorAssignment</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.CheckPrakulaDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NonApprovedDeliveryInstruction</name>
        <label>NonApprovedDeliveryInstruction</label>
        <locationX>534</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>NotApprovedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateDeliveryInstruction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrakulaDeliveryInstructionCountAssign</name>
        <label>PrakulaDeliveryInstructionCountAssign</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>TotalPrakulaDeliveryInstructionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PrakulaeDeliveryinst_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrakulaDeliveryInstructionCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrakulaDeliveryInstructionCountAssign_0</name>
        <label>PrakulaDeliveryInstructionCountAssign</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TotalPrakulaDeliveryInstructionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PrakulaeDeliveryinst_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IteratePrakulaDeliveryInstruction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Storing Delivery Instruction ids</description>
        <name>StoreDeliveryInstructionIds</name>
        <label>StoreDeliveryInstructionIds</label>
        <locationX>270</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>DeliveryInstructionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IteratePrakulaDeliveryInstruction.DeliveryInstructions__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrakulaDeliveryInstructionCountAssign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ValidationerrorAssignment</name>
        <label>ValidationerrorAssignment</label>
        <locationX>50</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.CheckPrakulaDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckDeliveryInstructionStatus</name>
        <label>CheckDeliveryInstructionStatus</label>
        <locationX>534</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateDeliveryInstruction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovedDeliveryInstruction</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateDeliveryInstruction.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NonApprovedDeliveryInstruction</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNotApprovedDI</name>
        <label>CheckNotApprovedDI</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotApprovedCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovedDeliveryInstructionCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationerrorAssignment</targetReference>
            </connector>
            <label>IsNotApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prior_Value_New</name>
        <label>Is Prior Value New</label>
        <locationX>611</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_Value_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PrakulaeDeliveryinst_Records</targetReference>
            </connector>
            <label>Prior Value New</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrakulaDeliveryInstructionCheck</name>
        <label>PrakulaDeliveryInstructionCheck</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_ValidationerrorAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPrakulaDIAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalPrakulaDeliveryInstructionCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IteratePrakulaDeliveryInstruction</targetReference>
            </connector>
            <label>IsPrakulaDIAvailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ValidationonPrakulaStatusChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidationonPrakulaStatusChange</label>
    <loops>
        <name>IterateDeliveryInstruction</name>
        <label>IterateDeliveryInstruction</label>
        <locationX>182</locationX>
        <locationY>1235</locationY>
        <collectionReference>GetDeliveryInstructionReords</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckDeliveryInstructionStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckNotApprovedDI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IteratePrakulaDeliveryInstruction</name>
        <label>IteratePrakulaDeliveryInstruction</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <collectionReference>Get_PrakulaeDeliveryinst_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreDeliveryInstructionIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetDeliveryInstructionReords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PrakulaeDeliveryinst_Records</name>
        <label>Get PrakulaeDeliveryinst Records</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrakulaDeliveryInstructionCountAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Praekula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PraekulaDeliveryInstructions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryInstructionReords</name>
        <label>GetDeliveryInstructionReords</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateDeliveryInstruction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DeliveryInstructionList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DeliveryInstructions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Prior_Value_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality Check</stringValue>
            </value>
        </filters>
        <object>Praekula__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovedDeliveryInstructionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DeliveryInstructionIDLst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryInstructionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryInstructionRecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DeliveryInstructions__c</objectType>
    </variables>
    <variables>
        <name>NotApprovedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalPrakulaDeliveryInstructionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
