force-app/main/default/flows/Visit_Internal_Attendee_Authorization_Reactivate_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Storing visit record</description>
        <name>Store_Visit_Record</name>
        <label>Store Visit Record</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>VisitCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_visitors.Visit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visit_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Visit_Assignment</name>
        <label>Visit Assignment</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Customvisitsharecreate.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customvisitsharecreate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_visitors.Visit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customvisitsharecreate.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_visitors.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomCreateVisitShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Customvisitsharecreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_visitors</targetReference>
        </connector>
    </assignments>
    <description>This flow used to create visit share record for when the inactive users got activated</description>
    <environments>Default</environments>
    <interviewLabel>Visit Internal Attendee Authorization Reactivate Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Internal Attendee Authorization Reactivate Users</label>
    <loops>
        <name>Iterate_visitors</name>
        <label>Iterate visitors</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_visitors_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Visit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Visit_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create visit share records to the reactivated users</description>
        <name>Create_Visit_Share</name>
        <label>Create Visit Share</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <inputReference>CustomCreateVisitShareCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>retrieve the visitors records</description>
        <name>Get_visitors_Records</name>
        <label>Get visitors Records</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_visitors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_visitors_Records</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomCreateVisitShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__Share</objectType>
    </variables>
    <variables>
        <name>Customvisitsharecreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit__Share</objectType>
    </variables>
    <variables>
        <name>VisitCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
